Artinov.StageOne.SkiCenterManagementSystem/Artinov.StageOne.SkiCenterManagementSystem/Service References/SkiServiceReference/SkiService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Artinov.StageOne.SkiService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Artinov.StageOne.SkiService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:25236/SkiService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfClientModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientModel" nillable="true" type="tns:ClientModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientModel" nillable="true" type="tns:ArrayOfClientModel" />
  <xs:complexType name="ClientModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientModel" nillable="true" type="tns:ClientModel" />
  <xs:complexType name="ArrayOfEquipmentModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EquipmentModel" nillable="true" type="tns:EquipmentModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEquipmentModel" nillable="true" type="tns:ArrayOfEquipmentModel" />
  <xs:complexType name="EquipmentModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EquipmentModel" nillable="true" type="tns:EquipmentModel" />
</xs:schema>