Artinov.StageOne.SkiCenterManagementSystem/Artinov.StageOne.SkiCenterManagementSystem/Service References/SkiServiceReference/SkiService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SkiService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:25236/SkiService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:25236/SkiService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:25236/SkiService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Artinov.StageOne.DbEntity" />
      <xsd:import schemaLocation="http://localhost:25236/SkiService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Artinov.StageOne.DbEntity.Enums" />
      <xsd:import schemaLocation="http://localhost:25236/SkiService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Artinov.StageOne.SkiService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISkiService_GetCenters_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCenters" />
  </wsdl:message>
  <wsdl:message name="ISkiService_GetCenters_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCentersResponse" />
  </wsdl:message>
  <wsdl:message name="ISkiService_GetWarehouses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWarehouses" />
  </wsdl:message>
  <wsdl:message name="ISkiService_GetWarehouses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWarehousesResponse" />
  </wsdl:message>
  <wsdl:message name="ISkiService_GetQuipmentByWarehouseId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuipmentByWarehouseId" />
  </wsdl:message>
  <wsdl:message name="ISkiService_GetQuipmentByWarehouseId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuipmentByWarehouseIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISkiService_GetClients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClients" />
  </wsdl:message>
  <wsdl:message name="ISkiService_GetClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientsResponse" />
  </wsdl:message>
  <wsdl:message name="ISkiService_GetOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrders" />
  </wsdl:message>
  <wsdl:message name="ISkiService_GetOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="ISkiService_GetOrdersByPeriod_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersByPeriod" />
  </wsdl:message>
  <wsdl:message name="ISkiService_GetOrdersByPeriod_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersByPeriodResponse" />
  </wsdl:message>
  <wsdl:message name="ISkiService_GetDocumentsByClientId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentsByClientId" />
  </wsdl:message>
  <wsdl:message name="ISkiService_GetDocumentsByClientId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentsByClientIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISkiService_GetCurrentEquipmentsByClientId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentEquipmentsByClientId" />
  </wsdl:message>
  <wsdl:message name="ISkiService_GetCurrentEquipmentsByClientId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentEquipmentsByClientIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISkiService_GetCurrentRentEquipments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentRentEquipments" />
  </wsdl:message>
  <wsdl:message name="ISkiService_GetCurrentRentEquipments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentRentEquipmentsResponse" />
  </wsdl:message>
  <wsdl:message name="ISkiService_GetCurrentFreeEquipments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentFreeEquipments" />
  </wsdl:message>
  <wsdl:message name="ISkiService_GetCurrentFreeEquipments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentFreeEquipmentsResponse" />
  </wsdl:message>
  <wsdl:message name="ISkiService_GetDetailClientInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDetailClientInfo" />
  </wsdl:message>
  <wsdl:message name="ISkiService_GetDetailClientInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDetailClientInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ISkiService_AddSkiCentre_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSkiCentre" />
  </wsdl:message>
  <wsdl:message name="ISkiService_AddSkiCentre_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSkiCentreResponse" />
  </wsdl:message>
  <wsdl:message name="ISkiService_CheckUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUser" />
  </wsdl:message>
  <wsdl:message name="ISkiService_CheckUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISkiService_AddClient_InputMessage">
    <wsdl:part name="parameters" element="tns:AddClient" />
  </wsdl:message>
  <wsdl:message name="ISkiService_AddClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddClientResponse" />
  </wsdl:message>
  <wsdl:message name="ISkiService_AddOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOrder" />
  </wsdl:message>
  <wsdl:message name="ISkiService_AddOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ISkiService_AddEquipment_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEquipment" />
  </wsdl:message>
  <wsdl:message name="ISkiService_AddEquipment_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEquipmentResponse" />
  </wsdl:message>
  <wsdl:message name="ISkiService_AddWarehouse_InputMessage">
    <wsdl:part name="parameters" element="tns:AddWarehouse" />
  </wsdl:message>
  <wsdl:message name="ISkiService_AddWarehouse_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddWarehouseResponse" />
  </wsdl:message>
  <wsdl:message name="ISkiService_DeleteClient_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClient" />
  </wsdl:message>
  <wsdl:message name="ISkiService_DeleteClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClientResponse" />
  </wsdl:message>
  <wsdl:message name="ISkiService_GetClientPhone_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientPhone" />
  </wsdl:message>
  <wsdl:message name="ISkiService_GetClientPhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="ISkiService_DeletePhone_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePhone" />
  </wsdl:message>
  <wsdl:message name="ISkiService_DeletePhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePhoneResponse" />
  </wsdl:message>
  <wsdl:message name="ISkiService_DeleteChildren_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteChildren" />
  </wsdl:message>
  <wsdl:message name="ISkiService_DeleteChildren_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteChildrenResponse" />
  </wsdl:message>
  <wsdl:message name="ISkiService_DeleteDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDocument" />
  </wsdl:message>
  <wsdl:message name="ISkiService_DeleteDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="ISkiService_GetClientLikeName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientLikeName" />
  </wsdl:message>
  <wsdl:message name="ISkiService_GetClientLikeName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientLikeNameResponse" />
  </wsdl:message>
  <wsdl:message name="ISkiService_GetEquipmentTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEquipmentTypes" />
  </wsdl:message>
  <wsdl:message name="ISkiService_GetEquipmentTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEquipmentTypesResponse" />
  </wsdl:message>
  <wsdl:message name="ISkiService_GetEqiupmentsByTypeId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEqiupmentsByTypeId" />
  </wsdl:message>
  <wsdl:message name="ISkiService_GetEqiupmentsByTypeId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEqiupmentsByTypeIdResponse" />
  </wsdl:message>
  <wsdl:portType name="ISkiService">
    <wsdl:operation name="GetCenters">
      <wsdl:input wsaw:Action="http://tempuri.org/ISkiService/GetCenters" message="tns:ISkiService_GetCenters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISkiService/GetCentersResponse" message="tns:ISkiService_GetCenters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWarehouses">
      <wsdl:input wsaw:Action="http://tempuri.org/ISkiService/GetWarehouses" message="tns:ISkiService_GetWarehouses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISkiService/GetWarehousesResponse" message="tns:ISkiService_GetWarehouses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuipmentByWarehouseId">
      <wsdl:input wsaw:Action="http://tempuri.org/ISkiService/GetQuipmentByWarehouseId" message="tns:ISkiService_GetQuipmentByWarehouseId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISkiService/GetQuipmentByWarehouseIdResponse" message="tns:ISkiService_GetQuipmentByWarehouseId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <wsdl:input wsaw:Action="http://tempuri.org/ISkiService/GetClients" message="tns:ISkiService_GetClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISkiService/GetClientsResponse" message="tns:ISkiService_GetClients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/ISkiService/GetOrders" message="tns:ISkiService_GetOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISkiService/GetOrdersResponse" message="tns:ISkiService_GetOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrdersByPeriod">
      <wsdl:input wsaw:Action="http://tempuri.org/ISkiService/GetOrdersByPeriod" message="tns:ISkiService_GetOrdersByPeriod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISkiService/GetOrdersByPeriodResponse" message="tns:ISkiService_GetOrdersByPeriod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentsByClientId">
      <wsdl:input wsaw:Action="http://tempuri.org/ISkiService/GetDocumentsByClientId" message="tns:ISkiService_GetDocumentsByClientId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISkiService/GetDocumentsByClientIdResponse" message="tns:ISkiService_GetDocumentsByClientId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentEquipmentsByClientId">
      <wsdl:input wsaw:Action="http://tempuri.org/ISkiService/GetCurrentEquipmentsByClientId" message="tns:ISkiService_GetCurrentEquipmentsByClientId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISkiService/GetCurrentEquipmentsByClientIdResponse" message="tns:ISkiService_GetCurrentEquipmentsByClientId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentRentEquipments">
      <wsdl:input wsaw:Action="http://tempuri.org/ISkiService/GetCurrentRentEquipments" message="tns:ISkiService_GetCurrentRentEquipments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISkiService/GetCurrentRentEquipmentsResponse" message="tns:ISkiService_GetCurrentRentEquipments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentFreeEquipments">
      <wsdl:input wsaw:Action="http://tempuri.org/ISkiService/GetCurrentFreeEquipments" message="tns:ISkiService_GetCurrentFreeEquipments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISkiService/GetCurrentFreeEquipmentsResponse" message="tns:ISkiService_GetCurrentFreeEquipments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDetailClientInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ISkiService/GetDetailClientInfo" message="tns:ISkiService_GetDetailClientInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISkiService/GetDetailClientInfoResponse" message="tns:ISkiService_GetDetailClientInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSkiCentre">
      <wsdl:input wsaw:Action="http://tempuri.org/ISkiService/AddSkiCentre" message="tns:ISkiService_AddSkiCentre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISkiService/AddSkiCentreResponse" message="tns:ISkiService_AddSkiCentre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISkiService/CheckUser" message="tns:ISkiService_CheckUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISkiService/CheckUserResponse" message="tns:ISkiService_CheckUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddClient">
      <wsdl:input wsaw:Action="http://tempuri.org/ISkiService/AddClient" message="tns:ISkiService_AddClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISkiService/AddClientResponse" message="tns:ISkiService_AddClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/ISkiService/AddOrder" message="tns:ISkiService_AddOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISkiService/AddOrderResponse" message="tns:ISkiService_AddOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEquipment">
      <wsdl:input wsaw:Action="http://tempuri.org/ISkiService/AddEquipment" message="tns:ISkiService_AddEquipment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISkiService/AddEquipmentResponse" message="tns:ISkiService_AddEquipment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddWarehouse">
      <wsdl:input wsaw:Action="http://tempuri.org/ISkiService/AddWarehouse" message="tns:ISkiService_AddWarehouse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISkiService/AddWarehouseResponse" message="tns:ISkiService_AddWarehouse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteClient">
      <wsdl:input wsaw:Action="http://tempuri.org/ISkiService/DeleteClient" message="tns:ISkiService_DeleteClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISkiService/DeleteClientResponse" message="tns:ISkiService_DeleteClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientPhone">
      <wsdl:input wsaw:Action="http://tempuri.org/ISkiService/GetClientPhone" message="tns:ISkiService_GetClientPhone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISkiService/GetClientPhoneResponse" message="tns:ISkiService_GetClientPhone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePhone">
      <wsdl:input wsaw:Action="http://tempuri.org/ISkiService/DeletePhone" message="tns:ISkiService_DeletePhone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISkiService/DeletePhoneResponse" message="tns:ISkiService_DeletePhone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteChildren">
      <wsdl:input wsaw:Action="http://tempuri.org/ISkiService/DeleteChildren" message="tns:ISkiService_DeleteChildren_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISkiService/DeleteChildrenResponse" message="tns:ISkiService_DeleteChildren_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/ISkiService/DeleteDocument" message="tns:ISkiService_DeleteDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISkiService/DeleteDocumentResponse" message="tns:ISkiService_DeleteDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientLikeName">
      <wsdl:input wsaw:Action="http://tempuri.org/ISkiService/GetClientLikeName" message="tns:ISkiService_GetClientLikeName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISkiService/GetClientLikeNameResponse" message="tns:ISkiService_GetClientLikeName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEquipmentTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/ISkiService/GetEquipmentTypes" message="tns:ISkiService_GetEquipmentTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISkiService/GetEquipmentTypesResponse" message="tns:ISkiService_GetEquipmentTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEqiupmentsByTypeId">
      <wsdl:input wsaw:Action="http://tempuri.org/ISkiService/GetEqiupmentsByTypeId" message="tns:ISkiService_GetEqiupmentsByTypeId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISkiService/GetEqiupmentsByTypeIdResponse" message="tns:ISkiService_GetEqiupmentsByTypeId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISkiService" type="tns:ISkiService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCenters">
      <soap:operation soapAction="http://tempuri.org/ISkiService/GetCenters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWarehouses">
      <soap:operation soapAction="http://tempuri.org/ISkiService/GetWarehouses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuipmentByWarehouseId">
      <soap:operation soapAction="http://tempuri.org/ISkiService/GetQuipmentByWarehouseId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <soap:operation soapAction="http://tempuri.org/ISkiService/GetClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <soap:operation soapAction="http://tempuri.org/ISkiService/GetOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrdersByPeriod">
      <soap:operation soapAction="http://tempuri.org/ISkiService/GetOrdersByPeriod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentsByClientId">
      <soap:operation soapAction="http://tempuri.org/ISkiService/GetDocumentsByClientId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentEquipmentsByClientId">
      <soap:operation soapAction="http://tempuri.org/ISkiService/GetCurrentEquipmentsByClientId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentRentEquipments">
      <soap:operation soapAction="http://tempuri.org/ISkiService/GetCurrentRentEquipments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentFreeEquipments">
      <soap:operation soapAction="http://tempuri.org/ISkiService/GetCurrentFreeEquipments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetailClientInfo">
      <soap:operation soapAction="http://tempuri.org/ISkiService/GetDetailClientInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSkiCentre">
      <soap:operation soapAction="http://tempuri.org/ISkiService/AddSkiCentre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUser">
      <soap:operation soapAction="http://tempuri.org/ISkiService/CheckUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddClient">
      <soap:operation soapAction="http://tempuri.org/ISkiService/AddClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrder">
      <soap:operation soapAction="http://tempuri.org/ISkiService/AddOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEquipment">
      <soap:operation soapAction="http://tempuri.org/ISkiService/AddEquipment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddWarehouse">
      <soap:operation soapAction="http://tempuri.org/ISkiService/AddWarehouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteClient">
      <soap:operation soapAction="http://tempuri.org/ISkiService/DeleteClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientPhone">
      <soap:operation soapAction="http://tempuri.org/ISkiService/GetClientPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePhone">
      <soap:operation soapAction="http://tempuri.org/ISkiService/DeletePhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteChildren">
      <soap:operation soapAction="http://tempuri.org/ISkiService/DeleteChildren" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDocument">
      <soap:operation soapAction="http://tempuri.org/ISkiService/DeleteDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientLikeName">
      <soap:operation soapAction="http://tempuri.org/ISkiService/GetClientLikeName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEquipmentTypes">
      <soap:operation soapAction="http://tempuri.org/ISkiService/GetEquipmentTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEqiupmentsByTypeId">
      <soap:operation soapAction="http://tempuri.org/ISkiService/GetEqiupmentsByTypeId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SkiService">
    <wsdl:port name="BasicHttpBinding_ISkiService" binding="tns:BasicHttpBinding_ISkiService">
      <soap:address location="http://localhost:25236/SkiService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>