Artinov.StageOne.SkiCenterManagementSystem/Artinov.StageOne.SkiCenterManagementSystem/Service References/SkiServiceReference/SkiService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:25236/SkiService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Artinov.StageOne.DbEntity" />
  <xs:import schemaLocation="http://localhost:25236/SkiService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetCenters">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCentersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Artinov.StageOne.DbEntity" minOccurs="0" name="GetCentersResult" nillable="true" type="q1:ArrayOfSkiCenter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWarehouses">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="skiCentreId" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWarehousesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Artinov.StageOne.DbEntity" minOccurs="0" name="GetWarehousesResult" nillable="true" type="q3:ArrayOfWarehouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuipmentByWarehouseId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuipmentByWarehouseIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Artinov.StageOne.DbEntity" minOccurs="0" name="GetQuipmentByWarehouseIdResult" nillable="true" type="q5:ArrayOfEquipment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuipmentByWarehouseName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuipmentByWarehouseNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Artinov.StageOne.DbEntity" minOccurs="0" name="GetQuipmentByWarehouseNameResult" nillable="true" type="q6:ArrayOfEquipment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Artinov.StageOne.DbEntity" minOccurs="0" name="GetClientsResult" nillable="true" type="q7:ArrayOfClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Artinov.StageOne.DbEntity" minOccurs="0" name="GetOrdersResult" nillable="true" type="q8:ArrayOfOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersByPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stardDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersByPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Artinov.StageOne.DbEntity" minOccurs="0" name="GetOrdersByPeriodResult" nillable="true" type="q9:ArrayOfOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentsByClientId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientId" type="q10:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentsByClientIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Artinov.StageOne.DbEntity" minOccurs="0" name="GetDocumentsByClientIdResult" nillable="true" type="q11:ArrayOfDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentEquipmentsByClientId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientId" type="q12:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentEquipmentsByClientIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Artinov.StageOne.DbEntity" minOccurs="0" name="GetCurrentEquipmentsByClientIdResult" nillable="true" type="q13:ArrayOfEquipment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentRentEquipments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentRentEquipmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Artinov.StageOne.DbEntity" minOccurs="0" name="GetCurrentRentEquipmentsResult" nillable="true" type="q14:ArrayOfEquipment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetailClientInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientId" type="q15:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetailClientInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Artinov.StageOne.DbEntity" minOccurs="0" name="GetDetailClientInfoResult" nillable="true" type="q16:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSkiCentre">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Artinov.StageOne.DbEntity" minOccurs="0" name="item" nillable="true" type="q17:SkiCenter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSkiCentreResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWarehouseToSkiCentre">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="skiCenterId" type="q18:guid" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Artinov.StageOne.DbEntity" minOccurs="0" name="item" nillable="true" type="q19:Warehouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWarehouseToSkiCentreResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>